body {
    background-color: palevioletred;
    font-size: 100%;
    margin-left: 15ex;
    margin-right: 15ex;

}

.intro-content {
    margin-bottom: 10ex;
    justify-content: space-evenly;
    align-content: space-between;
    display: flex;

}

.intro-image {
    width: 270px;
    height: 270px;
    float: right;
    margin: auto;
}
.which-city {
    margin-left: 2ex;
    display: flex;
    
}

.which-city-image {
    margin-right: 2ex;
    padding-right: 2ex;
    width: 250px;
    float: left;
    


} 
.which-city-content {
margin-bottom:10ex;
}

table,
th,
td {
    margin-bottom: 10ex;
    border: 1px solid black;
    border-collapse: collapse;
}



.historical-places {
    display: flex;
    margin-top: 5ex;

}

/* .district-content {
    display: flex;
}

.castle-content {
    display: flex;
}

.city-content {
    margin-bottom: 10ex;
    display: flex;

} */

.image {
    float: left;
    padding-right: 2em;
    padding-left: 2em;
}


table {
    width: 90%;

}

.button {
    height: 100px;
    width: 300px;


}

@media (max-width:600px) {
    .intro-content {
        flex-direction: column;
        text-align: center;
    }

    .which-city-content {
        flex-direction: column;

    }

    .historical-places {
        flex-direction: column;

    }
    
.city-content {
    display: flex;
flex-direction: row-reverse;
}
}

/* @media (max-width:980px) {
    .historical-places {
        display: flex;
    }
} */